.faq-item {
  border: 1px solid #d7dae6;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f1f5f8;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.question-text {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #52606d;
  margin: 0;
}

.icon {
  width: 20px;
  height: 20px;
}

.faq-answer {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #9aa5b1;
  margin-top: 10px;
}
